$topc: #f8d666;
$leftc: #ecc040;
$rightc: #deaa3b;

.isometric-pattern {
  position: relative;
  background: lavenderblush;
  padding: 0;
  margin: 0;
  font-size: 3vw;
  width: 100vw;
  height: 100vh;
  transform-origin: 0 0;
  transform: rotate(210deg) skew(-30deg) scaleY(0.864);
}

.isometric-pattern-item {
  position: relative;
  //top: 1em;
  left: -30%;
  //margin-left: 0.864em;
  width: 1em;
  height: 1em;
  background: $topc;

  &::before,
  &::after {
    position: absolute;
    content: "";
    transform-origin: 0 0;
    width: 1em;
    height: 1em;
    background: $leftc;
    transform: rotate(180deg) skew(45deg) translate(-1em) scaleY(1);
    z-index: -1;
  }

  &::after {
    background: $rightc;
    transform: rotate(90deg) skew(-45deg) translate(0) scaleY(1);
    z-index: -2;
  }
}

.isometric-pattern-item {

  box-shadow:
    1em 0em 0 $topc,
    2em 0em 0 $topc,
    3em 0em 0 $topc,

    3em 1em 0 $topc,
    3em 2em 0 $topc,
    3em 3em 0 $topc,

    -3em -1em 0 $topc,
    -3em -2em 0 $topc,

    -2em -3em 0 $topc,
    -1em -3em 0 $topc,

    0em 1em 0 $topc,
    0em 2em 0 $topc,
    0em 3em 0 $topc,
    1em 3em 0 $topc,
    2em 3em 0 $topc
  ;

  &::before {
    box-shadow:
      0em 1em 0 $leftc,
      0em 2em 0 $leftc,
      0em 3em 0 $leftc,

      -1em 3em 0 $leftc,
      -2em 3em 0 $leftc,
      -3em 3em 0 $leftc,

      -3em 2em 0 $leftc,
      -3em 1em 0 $leftc,

      3em -2em 0 $leftc,
      3em -1em 0 $leftc,

      1em -3em 0 $leftc,
      2em -3em 0 $leftc,

      -1em 0em 0 $leftc,
      -2em 0em 0 $leftc,
      -3em 0em 0 $leftc
    ;
  }

  &::after {
    box-shadow:
      0em 1em 0 $rightc,
      0em 2em 0 $rightc,
      0em 3em 0 $rightc,

      1em 3em 0 $rightc,
      2em 3em 0 $rightc,
      3em 3em 0 $rightc,

      3em 2em 0 $rightc,
      3em 1em 0 $rightc,

      -3em -2em 0 $rightc,
      -3em -1em 0 $rightc,

      -1em -3em 0 $rightc,
      -2em -3em 0 $rightc,

      1em 0em 0 $rightc,
      2em 0em 0 $rightc,
      3em 0em 0 $rightc
    ;
  }
}
